.footer {
    display: flex;
    align-items: center; 
    justify-content: space-around;
    font-weight: bolder;
}
.footer a {
    color: aliceblue !important;
}

.footer ul {
    display: flex;

}

.footer li {
    list-style: none;
    padding: 30px;
    font-size: 20px;
}

@media (max-width: 859px) {
    .footer {
        flex-direction: column;
    }
}

@media (max-width: 566px) {
    .footer {
        flex-direction: column;
    }
    .footer ul:first-child {
        flex-direction: column;
    }
    .footer ul {
        padding: 0;
    }
}