.Navbar {
    display:flex;
    align-items: center; 
    justify-content: space-between;
    padding: 1em 1em 1em 20%;
}

.Navbar ul {
    display: flex;
    text-align: center;
}

.Navbar li {
    list-style: none;
    margin-right: 50px;
    text-align: center;

}

.Navbar div {
    width: 1px;
}

.Navbar a {
    color: aliceblue !important;
    text-decoration: none;
}
